
@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');
body {
  margin: 0;
  padding: 0;
 height: 100vh;
}

:root {
  /* colours */
  --pink-light: #f8c8c8;
  --pink-baby: #e57373;
  --background: #fffbfb;

  /* font*/
  --font-main: "Inter", sans-serif;
}
.philosopher-regular {
  font-family: "Philosopher", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.philosopher-bold {
  font-family: "Philosopher", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.mwana-italic {
  font-family: "Philosopher", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.philosopher-bold-italic {
  font-family: "Philosopher", sans-serif;
  font-weight: 700;
  font-style: italic;
  color: var(--pink-baby);
  font-size: 50px;
  font-weight: bold;
}



.main {
  height: 100vh;
  background-color: #fffbfb;
  display: flex;
  flex-direction: column;
  
}


.navbar {
  display: flex;
  align-items: center;
  padding: 15px 30px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.mwana {
  font-family: "Philosopher", sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 28px;
  color: var(--pink-baby);
  position: absolute;
  left: 200px;
}

.logo img {
  width: 200px;
  height: auto;
  mix-blend-mode: multiply;
  position: relative;
}


.nav-buttons {
  margin-left: 1000px;
  display: flex;
  gap: 15px;
  flex-direction: row;
}

.btn-login,
.btn-signup {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  padding: 10px 25px;
  border-radius: 25px;
  font-weight: bold;
  font-family: var(--font-main);
  cursor: pointer;
}
.btn-login {
  width: 100px;
  background-color: var(--pink-baby);
  color: white;
  border: 2px solid white;
}
.btn-signup {
  background-color: transparent;
  color: var(--pink-baby);
  border: 2px solid var(--pink-baby);
}


.hero {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  text-align: center;
animation: slideDown 1s cubic-bezier(0.22, 1, 0.36, 1);
}
@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-40px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}



.hero h1 {
  font-size: 48px;
  font-weight: bold;
  font-family: var(--font-main);
  color: black;
  font-style: italic;
  
  
}

.hero h1 span.philosopher-bold-italic {
  color: var(--pink-baby);
  font-family: var(--font-main);
}

.hero p {
  font-size: 19px;
  color: gray;
  line-height: 1.5;
  font-family: var(--font-main);
}


.btn-start {
  background-color: var(--pink-baby);
  color: black;
  padding: 14px 40px;
  border-radius: 30px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  font-weight: 600;
  font-family: sans-serif;
}