:root {

    --pink-baby: #e57373;
    --pink-light: #f8c8c8;
    --background: #fffbfb;

    --text-dark: #222;
    --white: #ffffff;

    --font-main: "Inter", sans-serif;
}

.login-page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background);
    font-family: var(--font-main);
}

/* card */
.login-card {
    width: 380px;
    padding: 35px;

    background: var(--white);
    border-radius: 20px;

    box-shadow: 0 12px 35px rgba(0, 0, 0, 0.08);

    display: flex;
    flex-direction: column;
    gap: 18px;

    position: relative;
    overflow: hidden;
}

/* DECORAÇÃO ROSA (TOP) */
.login-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 6px;

    background: linear-gradient(90deg,
            var(--pink-baby),
            var(--pink-light));
}

/* TÍTULO */
.login-title {
    text-align: center;
    font-size: 26px;
    font-weight: 700;
    color: var(--pink-baby);
}

.login-brand {
    text-align: center;
    font-size: 14px;
    color: gray;
    margin-top: -10px;
}

.login-brand span {
    color: var(--pink-baby);
    font-weight: 600;
}

.login-card input {
    padding: 12px 14px;

    border-radius: 10px;
    border: 1px solid #ddd;

    outline: none;
    font-size: 14px;

    transition: 0.2s;
}

.login-card input:focus {
    border-color: var(--pink-baby);
    box-shadow: 0 0 0 3px rgba(229, 115, 115, 0.2);
}


.login-card #entrar-btn {
    padding: 12px;

    border: none;
    border-radius: 10px;

    background: var(--pink-baby);
    color: var(--white);

    font-size: 15px;
    font-weight: 600;

    cursor: pointer;

    transition: 0.2s;
}

.login-card #entrar-btn:hover {
    background: white;
    border: 2px solid var(--pink-baby);
    color: var(--pink-baby);
    transform: translateY(-2px);
}

.login-footer {
    text-align: center;
    font-size: 13px;
    color: gray;
}

.forgot-password {
    text-align: center;
    font-style: italic;
    text-decoration: none !important;
    color: var(--pink-baby);
    font-size: 14px;
    cursor: pointer;
    transition: 0.2s;
}

.forgot-password:hover {
    color: grey;
}

.login-footer span {
    color: var(--pink-baby);
    cursor: pointer;
    font-weight: 600;
}

label {
    font-family: var(--font-main);
    font-weight: bold;
    font-size: 14px;
    color: var(--pink-baby);
    margin-bottom: -10px;
}

h1 {
    font-family: kodchansan, sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: var(--pink-baby);
}

.signup-link {
    text-align: center;
    font-size: 13px;
    color: rgb(44, 44, 44);
    text-decoration: none !important;
}

.top-header {
    position: absolute;
    top: 20px;
    right: 20px;
}

.back-btn {
    background: #e57373;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 20px;
    cursor: pointer;
    font-family: "Inter", sans-serif;
    font-size: 17px;
    font-weight: bold;
    transition: 0.2s;
}

.back-btn:hover {
    background: #d95f5f;
    transform: translateY(-2px);
}

@media (max-width: 500px) {
    .login-card {
        width: 90%;
        padding: 25px;
    }
}