.layout {
  display: flex;
  min-height: 100vh;
}

.content {
  flex: 1;
  padding: 40px;

  background: #f7f7f7;
}

h1 {
  font-size: 34px;
  margin-bottom: 5px;
}

.subtitle {
  color: #777;
  margin-bottom: 30px;
}

.cards {
  display: grid;

  grid-template-columns:
    repeat(auto-fit, minmax(280px, 1fr));

  gap: 30px;
}